#typewriter {
  display: inline-block;
  font-size: 9vw;
  font-family: var(--font);
  border-right: 2px solid var(--green);
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-cursor 0.7s steps(1) infinite;
}

/* KEYFRAMES */
@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 900px) {
  #typewriter{
    font-size: 6vw;
  }
}