:root {
  /* COLORS */
  --white: #ffffff;
  --cream: #f0e0c6;
  --green: #3a5352;
  --light-green: #3a4f4c;
  --grey: #333333;
  --form-color: #fff;
  --input-border: #ddd;

  /* FONT */
  --font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem = 10px*/
}

body {
  font-family: var(--font);
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  padding-top: 6rem;
  font-size: 1.8rem;
}

header,
nav,
section,
footer {
  display: block;
}

ul {
  list-style: none;
}

h2 {
  font-size: 4.5rem;
}

section {
  padding: 6rem 2rem;
  position: relative;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: var(--font);
  font-size: 1.8rem;
}

::-webkit-scrollbar {
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

/* HEADER - NAVBAR */

.header {
  background-color: var(--green);
  color: var(--white);
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.navbar_links {
  width: 100%;
  height: 0;
  background-color: var(--green);
  display: grid;
  place-content: center;
  gap: 2rem;
  position: absolute;
  top: 9rem;
  font-size: 18px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.hero-section h1 {
  font-weight: 700;
}

.navbar_links-mostrar {
  height: calc(50vh - 9rem);
}

.header a {
  color: var(--white);
  text-decoration: none;
  padding: 0 1.5rem;
}
.header a:hover {
  transition: 0.6s all;
  color: var(--cream);
}

/* HAMBURGER BUTTON  */

.btn_hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 3rem;
}

/* SECTIONS  */

/* ABOUT  */

.section-title {
  font-size: 4rem;
  text-align: left;
}
.about-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--green);
  color: var(--white);
}

.about-section p {
  width: 100%;
  line-height: 4rem;
}

/*TECHNOLOGIES */
.technologies-section {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stack-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.stack-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0px;
  width: 70%;
  margin-top: 30px;
  align-content: center;
}

/* CLIENTS  */
.clients-section {
  background-color: var(--cream);
  padding: 0%;
}
.download-section {
  background-color: var(--green);
  color: var(--white);
}

#clients-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clients-titles p {
  text-align: center;
}

/* CLIENTS CAROUSEL */

.client-title {
  text-align: center;
  padding: 20px;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* CONTACT SECTION   */
.contact-section {
  background-color: #f7f7f7;
}

.contact-form {
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--form-color);
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--input-border);
  box-sizing: border-box;
}
.contact-form textarea {
  height: 150px;
}
.contact-form button {
  width: 100%;
  padding: 1rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--green); 
  color: white;
}

.footer a {
  color: white; 
  margin: 0 10px; 
  font-size: 24px; 
}

.footer a:hover {
  color: #ddd; /* Icon hover color */
}

/* MEDIA QUERIES   */
@media (min-width: 900px) {
  
  /* HEADER - NAVBAR */

  .btn_hamburger {
    display: none;
  }

  .navbar {
    flex-wrap: nowrap;
  }

  .navbar_links {
    position: initial;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: none;
  }
}
