:root {
  /* COLORS */
  --white: #ffffff;
  --cream: #f0e0c6;
  --green: #3a5352;
  --light-green: #3a4f4c;
  --grey: #333333;
  --form-color: #fff;
  --input-border: #ddd;

  /* FONT */
  --font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /* 1 rem = 10px*/
}

body {
  font-family: var(--font);
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  padding-top: 6rem;
  font-size: 1.8rem;
}

header,
nav,
section,
footer {
  display: block;
}

ul {
  list-style: none;
}

h2{
  font-size: 4.5rem;
}

section {
  padding: 6rem 2rem;
  position: relative;
}

img {
  max-width: 100%;
}

textarea{
  resize: none;
 
}

input,
textarea{
  font-family: var(--font);
  font-size: 1.8rem;
}

::-webkit-scrollbar{
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

/* HEADER - NAVBAR */

.header {
  background-color: var(--green);
  color: var(--white);
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.navbar_links {
  width: 100%;
  height: 0;
  background-color: var(--green);
  display: grid;
  place-content: center;
  gap: 2rem;
  position: absolute;
  top: 9rem;
  font-size: 18px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.navbar_links-mostrar {
  height: calc(50vh - 9rem);
}

.header a {
  color: var(--white);
  text-decoration: none;
  padding: 0 1.5rem;
}
.header a:hover {
  transition: .6s all;
  color: var(--cream);
}

/* HAMBURGER BUTTON  */

.btn_hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 3rem
}

/* SECTIONS  */

/* ABOUT  */
.about-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--green);
  color: var(--white);
}

.about-section p{
  width: 100%;
  line-height: 4rem;
}

/* CLIENTS  */
.clients-section {
  background-color: var(--cream);
}
.download-section {
  background-color: var(--green);
  color: var(--white);
}

/* CONTACT SECTION   */
.contact-section {
  background-color: #f7f7f7;
}

.contact-form {
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--form-color);
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--input-border);
  box-sizing: border-box;
}
.contact-form textarea {
  height: 150px;
}
.contact-form button {
  width: 100%;
  padding: 1rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--green); /* Adjust the color to fit your design */
  color: white;
}

.footer a {
  color: white; /* Icon color */
  margin: 0 10px; /* Spacing between icons */
  font-size: 24px; /* Icon size */
}

.footer a:hover {
  color: #ddd; /* Icon hover color */
}


/* MEDIA QUERIES   */
@media (min-width: 900px) {

  /* HEADER - NAVBAR */

  .btn_hamburger {
    display: none;
  }

  .navbar{
    flex-wrap: nowrap;
  }

  .navbar_links {
    position: initial ;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: none;
  }
  
}
